//=require chessboard.min

.chessboard {
  width: 500px;
  float: left;
  margin-right: 10px;
  .spare-pieces-7492f {
    span {
      background-color: #ffd32b;
      border: 0.5px solid #5a5a5a;
      margin-bottom: 0.4em;
      margin-right: 0.5em;
      width: 1em;
      text-align: center;
    }
    [data-piece = 'wP']{
      /*display: none;*/
    }
  }
}
