<%= javascript_include_tag "/chessboardjs-0.3.0/js/chessboard.js"%>
<div id="board1" style="width: 200px; float: left; margin-right: 10px"></div>
<div id="board2" style="width: 200px; float: left; margin-right: 10px"></div>
<div id="board3" style="width: 200px; float: left"></div>
<div style="clear:both"></div>